logs
*.log

**/node_modules/

# env
**/.env
!**/.env.exmample

questions.txt

dist

/packages/server/src/migrations/meta/**
/packages/server/src/migrations/meta/*.json
/packages/server/src/migrations/meta/_journal.json
